*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
body {
    font-family: Arial, sans-serif;
    background: rgb(34, 17, 17);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/* Top bar */
.top-bar {
    margin:1vh auto;
    width: 98.5%;
    height: 8vh;
    background: gray;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    position:sticky;
    top: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.778);
    z-index: 1;
}

/* Card style */
.card {
    background: #1f1f19;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    height: 58vh;
    border: 1.3px solid gray;
}

/* Input card */
input {
    width: 88%;
    border: none;
    border-bottom: 1px solid pink;
    background: transparent;
    outline: none;
    margin: 13px;
    color: rgba(240, 248, 255, 0.732);
}

button{
    padding: 13px 45px;
    border: none;
    border-radius: 20px;
    background: rgb(38, 55, 55);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.677);
}

#createuser{
    margin-top: 12vh;
    margin-left: 17%;
}
#deleteuser{
    margin-top: 3vh;
    margin-left: 17%;
}

/* Big display box */
.result-box {
    width: 40%;
    height: 58vh;
    background: #1f1f1f;
    border-radius: 10px;
    /* position: relative; */
    overflow: scroll;
    color: rgba(255, 255, 255, 0.702);
    /* border: 1.3px solid rgba(245, 245, 245, 0.557); */
    border: 1.3px solid teal;
}

.result-box h5{
    font-family: monospace;
    font-size: x-large;
    text-align: center;
    background-color: teal;
    height: 6vh;
    display: block;
    border-radius: .3vh;
    align-content: center;
    position: sticky;
    top: 0;
}

.result-box p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    margin: .1% 1.5%;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 3vh;
}

.grid div {
    border: 1px solid darkgray;
    padding: 10px;
    text-align: center;
    border-radius: 2vh;
    background-color: darkgray;
    cursor: pointer;
}

.grid div:hover{
    background-color: rgba(169, 169, 169, 0);
}

/* Result cards */
.result-card {
    background: rgba(169, 169, 169, 0.778);
    padding: 15px;
    border-radius: 10px;
    width: 19%;
    height: 61.5vh;
    margin: 6vh 0px;
}

.userboards{
    width: 97.5%;
    margin: 3vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    /* margin-bottom: 2vh; */
    border-radius: 1vw;
    background-color: rgba(17, 1, 1, 0.198);
}

.numberbox{
    width: 20%;
    height: 40vh;
    background-color: rgba(47, 79, 79, 0.5);
    border-radius: 1vw;
    text-align: center;
    align-content: center;
    font-size: 7rem;
    font-weight: bold;
    border: 1.3px solid rgba(255, 250, 240, 0.511);
    overflow: hidden;
}
.numberbox p{
    width: 100%;
    height: 100%;
    /* background-color: rgba(47, 79, 79, 0.5); */
    border-radius: 1vw;
    text-align: center;
    align-content: center;
    font-size: 7rem;
    font-weight: bold;
    color: rgba(240, 248, 255, 0.412);
    /* transform: translateY(10px); */
}

#feature-btn{
    width: 55%;height: 10vh;
    /* border: 1px solid white; */
    display: flex;align-items: center;
    justify-content: space-around;
    margin: 5vh auto;
}

.result-row{
    width: 100%;
    height: 5vh;
    /* border: 1px solid white; */
}

button:active{
    background-color: rgba(64, 224, 208, 0.488);
}

